<%= form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.attachinary_file_field :file, :resource_type => 'raw', :raw_convert => 'aspose' %>
    <%= f.label 'Supported file types: png, jpg, gif, pdf' %><br>
  </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :grade %><br>
    <%= f.text_field :grade %>
  </div>
  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :ese %><br>
    <%= f.check_box :ese %>
  </div>
  <div class="field">
    <%= f.label :standards %><br>
    <%= f.text_field :standards %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
