<p>
<h4>Advanced search features are currently not enabled</h4>
<br>

<%= form_for(@search) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :query %>
    <%= f.submit "Search", :class => "btn btn-success"%>

  <br>
  <%= select_tag(:subject, options_for_select([
    ['Subject', 'All'],
    ['Math', 'Math'], ['Reading', 'Reading'], 
    ['Writing', 'Writing'], ['Science', 'Science']
  ])) %>
  <%= select_tag(:grade, options_for_select([
    ['Grade', 'All'],
    ['K', 'K'], ['1st', '1'], 
    ['2nd', '2'], ['3rd', '3'],
    ['4th', '4'], ['5th', '5'],
    ['6th', '6'], ['7th', '7'],
    ['8th', '8'], ['9th', '9'],
    ['10th', '10'], ['11th', '11'],
    ['12th', '12']
  ])) %>
  <%= select_tag(:state, options_for_select([
    ['State', 'All'],
    ['AL', 'AL'], ['AK', 'AK'], 
    ['AZ', 'AZ'], ['AR', 'AR'],
    ['CA', 'CA'], ['CO', 'CO'],
    ['CT', 'CT'], ['DE', 'DE'],
    ['FL', 'FL'], ['GA', 'GA'],
    ['HI', 'HI'], ['ID', 'ID'],
    ['IL', 'IL'], ['IN', 'IN'],
    ['IA', 'IA'], ['KS', 'KS'],
    ['KY', 'KY'], ['LA', 'LA'],
    ['ME', 'ME'], ['MD', 'MD'],
    ['MA', 'MA'], ['MI', 'MI'],
    ['MN', 'MN'], ['MS', 'MS'],
    ['MO', 'MO'], ['MT', 'MT'],
    ['NE', 'NE'], ['NV', 'NV'],
    ['NH', 'NH'], ['NJ', 'NJ'],
    ['NM', 'NM'], ['NY', 'NC'],
    ['ND', 'ND'], ['OH', 'OH'],
    ['OK', 'OK'], ['OR', 'OR'],
    ['PA', 'PA'], ['RI', 'RI'],
    ['SC', 'SC'], ['SD', 'SD'],
    ['TN', 'TN'], ['TX', 'TX'],
    ['UT', 'UT'], ['VT', 'VT'],
    ['VA', 'VA'], ['WA', 'WA'],
    ['WV', 'WV'], ['WI', 'WI'],
    ['WY', 'WY']
  ])) %>
  <%= check_box_tag(:ese) %>
  <%= label_tag(:ese, "ESE") %>
<% end %>
</p>
